<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <link rel="shortcut icon" href="{{ asset('build/images/brand/favicon.ico') }}">
        <meta charset="UTF-8">
        <title>{% block title %}{{ site_title }}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if app.user %}
                {% include '.components/navigation/navbar.html.twig' %}
            {% endif %}

            <div class="content-container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
