{% extends '.components/forms/layout.html.twig' %}

{% block title %}{{ 'Please login'|trans }}{% endblock %}

{% block form %}
    {% if error %}
        {% set errorMessage = error.messageKey|trans(error.messageData, 'security') %}
        {% include '.components/alert/error.html.twig' with {message: errorMessage} %}
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group">
            <label for="inputEmail" class="sr-only">{{ 'Email address'|trans }}</label>
            <input
                value="{{ last_username }}"
                name="email"
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="{{ 'Email address'|trans }}"
                required
                autofocus
            />
        </div>

        <div class="form-group">
            <label for="inputPassword" class="sr-only">{{ 'Password'|trans }}</label>
            <input
                name="password"
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="{{ 'Password'|trans }}"
                required
            />
        </div>

        {# See https://symfony.com/doc/current/security/remember_me.html #}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberCheck" name="_remember_me">
            <label class="form-check-label" for="rememberCheck">{{ 'Remember me'|trans }}</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Login'|trans }}</button>

        <div class="mt-3 text-center">
            <p class="text-muted">{{ "Don't have account?"|trans }} <a href="{{ path('app_register') }}">{{ 'Create account'|trans }}</a></p>
        </div>
    </form>
{% endblock %}
